.input{
    position:fixed;
    height:100px;
    width:80%;
    bottom:3%;
}

.input_msg{
    position:fixed;
    height:100%;
    width:100%;
    bottom:90%;
}

.send{
    bottom: 20%;
}

.chat_msg{
    position: fixed;
    overflow:auto;
    height: 74%;
    width: 80%;
}

.main_chat{
    height: 100%;
    width: 100%;
}

.setting{
    margin-left: 1.5%;
    bottom: 20%;
}